// Responsividad
@media (max-width: 568px) {
    .hero {
        padding: 30px 0; /* Menos espaciado en pantallas pequeñas */
    }

    .btn-primary {
        font-size: 1rem; /* Tamaño de fuente más pequeño en pantallas pequeñas */
    }

    .social-icon {
        width: 30px; /* Ancho más pequeño en pantallas pequeñas */
        height: 30px; /* Alto más pequeño en pantallas pequeñas */
    }

    .navbar-nav {
        text-align: center; /* Centrar navegación en pantallas pequeñas */
    }

    .nosotros-section {
        padding: 20px; /* Menos padding en pantallas pequeñas */
    }

    .hero {
        height: auto;
        padding: 2rem 0;
    }

    .card {
        margin-bottom: 2rem;
    }
}