// Variables
$body-bg-color: #EBF8FF;
$text-color: #343a40;
$hero-bg-image: url('imagenes/fondo.jpg');
$shadow-color: rgba(0, 0, 0, 0.1);
$button-bg-start: rgba(43, 108, 176, 1);
$button-bg-end: rgba(80, 132, 184, 1);
$card-max-width: 600px;
$card-height: 400px;